{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-Frame-Options" content="IE=edge">
    <title>Event view</title>
    <script src="/static/assets/jquery.min.js"></script>
    <script type="text/javascript" src="/static/assets/echarts.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-datepicker-1.9.0/css/bootstrap-datepicker3.min.css" >
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="/static/bootstrap-3.3.7/js/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="/static/bootstrap-datepicker-1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script>
      $(function() {
       $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        startDate: '-3d'
    });
      });
    </script>

</head>
<body onload="load()">
<center>
    {% include "menu.html" %}
	<div class="container-fluid" style="padding-top:20px;padding-bottom:40px"><!--条件筛选-->
	<div class="row-fluid">
		<div class="span12">
            <div class="col-xs-4 col-sm-4">
            </div>
            <div class="col-xs-4 col-sm-2">

                <input id="datepicker" type="text" class="form-control" data-provide="datepicker" data-date-format="yyyy-mm-dd">
            </div>
            <div class="col-xs-4 col-sm-2">
                <button type="button" class="btn btn-default" onclick="gettodayevents()">确定</button>
            </div>
            <div class="col-xs-4 col-sm-4">
            </div>
		</div>
	</div>
	</div>
<div class="container-fluid" style="padding-top:20px;padding-bottom:40px"><!--条件筛选-->
	<div class="row-fluid">
		<div class="span12">
        <div id="events">
        </div>
	</div>
	</div>
</center>
<div class="container-fluid" style="padding-top:20px;padding-bottom:60px">
    <div class="row-fluid">
		<div class="span12">
            <div class="col-xs-6 col-sm-6">
                <div id="pie" style="width:100%; height:400px;"></div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div id="table" style="width:100%; height:400px;padding-top: 20px"></div>
            </div>
        </div>
		</div>
	</div>
<script>
    var Host="/meeting/viewtype/"
    //var Host="/viewtype/"
    function load() {
        getDayTime();
        gettodayevents();
    };
    function gettodayevents() {
        var date=document.getElementById("datepicker").value;
        var tbody=window.document.getElementById("events");
        $.ajax({
                type: "POST",
                url: Host,
                contentType: "application/json",
                dataType: 'json',
                data:JSON.stringify({"type":"getevents","conditions": [{"k":"date","v":date}]}),
                success: function (res) {
                    //console.log(result)
                    var str = '';
                    var i = 0;
                    for (i; i < res.data.length; i++) {
                        str += "<button style=\"margin-left:10px\" type=\"button\" class=\"btn btn-default\" onclick=\"eventdetail("+res.data[i].value+")\">"+
                        res.data[i].label+"</button>"
                        if((i+1)%6==0){
                            str+="<br>"
                            str+="<br>"
                        }
                    }
                    tbody.innerHTML = str;//会议列表
                    if(res.data.length!=0){
                        eventdetail( res.data[0].value)
                    }
                }
            });
    };
    function eventdetail(eventid) {
        //console.log(eventid)
        $.ajax({
                type: "POST",
                url: Host,
                contentType: "application/json",
                dataType: 'json',
                data:JSON.stringify({"type":"eventpie","conditions": [{"k":"eventid","v":eventid}]}),
                success: function (result) {
                    chart2.setOption(result.data);
                }
            });
        var tbody=window.document.getElementById("table");
        var str = '<table class=\"table table-hover table-bordered\"><thead><tr class=\"info\"><th>序号</th>';
        $.ajax({
                type: "POST",
                url: Host,
                contentType: "application/json",
                dataType: 'json',
                data:JSON.stringify({"type":"eventtable","conditions": [{"k":"select","v":eventid}]}),
                success: function (res) {
                    console.log(res)
                    var i = 0;
                    for(i;i<res.headers.length;i++){
                        str+="<th>"+res.headers[i]+"</th>"
                    }
                    str+="</tr></thead><tbody id=\"tbody\">"
					var i=0;
                    for(i;i<res.rows.length;i++){
                        if(res.rows[i][3]==""){
          				str += "<tr class=\"warning\">";
                        }
                        else{
                            str += "<tr>";
                        }
                        str+="<td>"+(i+1) + "</td>"
                        var a=0;
                        for(a;a<res.rows[i].length;a++){
                            str+="<td>"+res.rows[i][a]+"</td>"
                        }
                    }
                    str+="</tbody></table>"
                    tbody.innerHTML = str;//表格显示内容
                }
            });
    };
    function getDayTime() {
        var date = new Date();
            //获取具体的年月日等信息
        var y = date.getFullYear();
        var m = date.getMonth()+1;
        var d = date.getDate();
        if(d<10){
            d="0"+d;
        }
        var str=y+"-"+m+"-"+d;
        document.getElementById("datepicker").value=str;
    }
</script>
    <script>
        //var Host="https://pipigo.club/meeting"
        //var Host="http://pipigo.club:9000"
        //var chart = echarts.init(document.getElementById('bar'), {renderer: 'canvas'});
        var chart2 = echarts.init(document.getElementById('pie'), 'light',{renderer: 'canvas'});
        var table = echarts.init(document.getElementById('table'),'light', {renderer: 'canvas'});
        $(
            function () {
                //fetchData(chart);
                //fetchData(chart2);
            }
        );


    </script>


</body>
</html>